registry=https://registry.npmjs.org
@midway:registry=https://pkgs.dev.azure.com/DEVOPS-MIDWAY/_packaging/DEVOPS-MIDWAY/npm/registry/
@riachuelo:registry=https://pkgs.dev.azure.com/DEVOPS-MIDWAY/_packaging/DEVOPS-MIDWAY/npm/registry/
@pub-libs:registry=https://pkgs.dev.azure.com/DEVOPS-MIDWAY/_packaging/DEVOPS-MIDWAY/npm/registry/
always-auth=true
